watch_file flake.nix
watch_file flake.lock
watch_file dev.sh
watch_file nix/lefthook-for.nix
watch_file nix/bats-with-libs-for.nix
watch_file nix/lefthook-wrappers-for.nix
watch_file nix/checks-for.nix
watch_file nix/checks-wrappers.sh
use flake
